@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 5s;
  }
  .clip-circle {
    clip-path: circle(50%);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-snap-type: y mandatory;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

section {
  height: 100%;
  scroll-snap-align: center;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: rgb(250 204 21);
  background: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc800;
  border-radius: 10%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc800;
}
@keyframes colorChange {
  0% {
    color: #ff0000;
  } /* Red */
  16.67% {
    color: #ff7f00;
  } /* Orange */
  33.33% {
    color: #ffff00;
  } /* Yellow */
  50% {
    color: #00ff00;
  } /* Green */
  66.67% {
    color: #0000ff;
  } /* Blue */
  83.33% {
    color: #4b0082;
  } /* Indigo */
  100% {
    color: #ff0000;
  } /* Red */
}

#animated-text {
  display: inline-block;
  animation: colorChange 6s infinite; /* Change '6s' to adjust speed */
  animation-delay: calc(0.1s * var(--i)); /* Delay each letter */
}

/* Generate variable for each letter */
#animated-text::before {
  content: attr(data-text);
  display: inline-block;
  color: transparent;
  animation: inherit;
  animation-duration: inherit;
  animation-delay: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


@keyframes slideOutToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-out {
  animation: slideOutToTop 0.3s ease-out forwards;
}

.slide-in {
  animation: slideInFromBottom 0.3s ease-out forwards;
}
